.recipe-wrapper {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    background: white;
    width: 65%;
    padding: 1rem 1rem 2rem 2.5rem;
}

.recipe-wrapper > h1 {
    text-align: center;
    padding-bottom: 20px;
}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ingredients div h3 {
    padding-bottom: 3%;
}

.ingredients div p {
    margin-top: 2%;
    border-radius: 10%;
    padding: 0 5px;
    background-color: rgb(139 199 106);
    width: fit-content;
    font-variant-caps: all-small-caps;
}

.ingredients div li {
    padding: 2px;
    list-style: outside;
}

@media (max-width: 1140px){
    .recipe-wrapper {
        width: 80%;
    }
}

@media (max-width: 920px){
    .ingredients {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .ingredients img {
        max-width: fit-content;
        margin: auto;
    }
}