.form-container > h3 {
  text-align: center;
}

.search-form {
  min-height: 10vh;
  padding: 2% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 35%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.search-button {
  background-color: rgb(199 106 106);
  border: none;
  padding: 1rem 20px;
  color: white;
}

@media (max-width: 1380px) {
  .search-bar {
    width: 50%;
  }
}

@media (max-width: 650px) {
    .search-bar {
      width: 70%;
    }
  }
  
