.App {
  min-height: 100vh;

}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-family: 'Arapey', serif;
  word-spacing: 3px;
  color: rgb(174 136 136);
  font-size: 1.5em;
}

